<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.globus">

    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".quizzes.QuizRegionalism"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".quizzes.QuizUN"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quizzes.QuizNation"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quizzes.QuizSociety"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quizzes.QuizEconomy"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quizzes.QuizResults"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quizzes.QuizConcepts"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.RegionalismGlobalization"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.InternationalLawGlobalization"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.NationGlobalization"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.SocietyGlobalization"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.EconomicGlobalization"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CIITNews"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeaturedNews"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Learning.GlobalizationConcepts"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsSelection"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectionScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>